<table mat-table width="100%" [dataSource]="formControl.value"  *ngIf="model.length > 0 && showList">
    <ng-container *ngFor="let field of field.fieldArray.fieldGroup" [matColumnDef]="field.key">
        <th mat-header-cell *matHeaderCellDef>{{ field.templateOptions.label }}</th>
        <td mat-cell *matCellDef="let row"> {{row[field.key]}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row; let i = index;">
            <button mat-flat-button type="button" (click)="editForm(i)">Edit</button>
            <button mat-flat-button color="warn" type="button" (click)="remove(i)">Remove</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="to.columns"></tr>
    <tr mat-row *matRowDef="let row; columns: to.columns;"></tr>
</table>
<div *ngIf="model.length === 0">
    No current items in the list.
</div>

<div *ngIf="showForm" class="subform">

    <form [formGroup]="singleForm" >
        <formly-form [model]="mdl" class="row" [fields]="singleField" [form]="singleForm" [options]="ops">
            <div fxLayout="row" fxLayoutAlign="center">
            <button mat-flat-button (click)="hideForm()" *ngIf="showForm">Cancel</button>
                <button mat-flat-button color="accent" (click)="save(mdl)" type="button">Save</button>
            </div>
        </formly-form>
    </form>
  
</div>

<div class="button-container">
    <button mat-flat-button (click)="addItem()" *ngIf="!showForm">Add Item</button>
</div>