 <div  class="col-sm-12" *ngIf="field.parent.model[to.key].length==0 && !showForm">
    <h4>{{field.data.introHeader}}</h4>
        <p>{{field.data.introLabel}} </p>
        <div class="pull-right btn-review ">
            <button class="btn btn-primary" (click)="addNew()">{{field.data.btnStart}} </button>  
           <button class="btn btn-primary">{{field.data.btnNo}} </button> 
        </div>
 
    </div>

   

    <table class="table" *ngIf="showList && field.parent.model[to.key].length>0">
      <thead>
      <tr>
          <th *ngFor="let item of field.data.header">{{item}}</th>
          <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of field.parent.model[to.key];let i = index;">
         <td *ngFor="let item  of field.data.coloums">{{element[item]}}</td>
      <td>
        <button type="button" class="btn btn-sm" (click)="edit(i)">Edit</button>
        <button type="button" class="btn btn-sm" (click)="delete(i)">Remove</button>
      </td>
      </tr>
    </tbody>
    </table>
      <p class="AddNewButton pull-right" *ngIf="showList && field.parent.model[to.key].length>0" >
        <button type="button" class="btn btn-primary" (click)="addNew()" >{{field.data.btnaddNew}}</button>
          <button type="button" class="btn btn-primary">{{field.data.btnaddNo}}</button>
    </p>

<div *ngIf="showForm">
    <form [formGroup]="singleForm" name="singleForm"  novalidate>
       <h5 *ngIf="to.firstScreen && mdl[to.firstScreen]">{{mdl[to.firstScreen]}}</h5>
        <formly-form [model]="mdl" [fields]="singleField" [form]="singleForm" [options]="ops">
           <div class="pull-right btn-review ">
          <button type="button" *ngIf="mdl[to.firstScreen]" class="btn btn-primary" (click)="cancel()">{{field.data.btnaddrepeat}}</button>
          <button type="button" *ngIf="!to.firstScreen || mdl[to.firstScreen]" class="btn btn-primary" (click)="addOrUpdate(singleform)">{{field.data.btnreview}}</button>
          </div>
        </formly-form>
    </form>
</div>

