<div class="ui-form">
    <ul class="nav nav-pills flex-column flex-sm-row">
        <li class="nav-item" *ngFor="let tab of tabs;let k = index" (click)="makeActive(k)">
            <a class="nav-link {{tab.class}}">{{tab.name}}</a>
        </li>
    </ul>
    <div class="row" *ngIf="tabs && tabs[0].class=='active'">
        <div class="col-sm-2">
            <div class="card card-outline-primary rightControl">
                <div class="card-header card-inverse card-primary">Draggable Controls</div>
                <div class="card-block scroll-list">
                    <ul class="list-group text-center">
                        <li draggable *ngFor="let item of controls" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item justify-content-between list-group-item-action"
                            [dragScope]="item.type" >
                            {{item.name}}
                            <i #dragHandle class="drag-bar fa fa-bars fa-lg" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="card card-outline-primary mb-3 card-root" droppable [dragOverClass]="'drag-target-border'" [dropScope]="'section'"
                [dragHintClass]="'drag-hint'" (onDrop)="onControlDrop($event)" [dropEnabled]="true">
                <div class="card-header card-inverse card-primary">
                    Drop Controls here
                </div>
                <div class="card-block">
                    <div class="row" [sortablejs]="droppedControls">
                        <div *ngFor="let item of droppedControls;let k = index" class="col-sm-12 inline-header" droppable [dropScope]="'htmlcontrol'"
                            [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'" [dropEnabled]="true" (onDrop)="onChildDrop($event,k)">
                            <span (click)="remove(k)" class="closeX">X</span>
                            <div class="droppable-header" (click)="getProperty(item,$event)" [innerHTML]="item.template || item.name"> </div>
                            <div class="card-block ">
                                <div class="row" *ngIf="item.controls" [sortablejs]="item.controls">
                                    <div *ngFor="let obj of item.controls;let x = index" [class]="obj.className" (click)="getProperty(obj,$event)">
                                        <span (click)="removeChild(k,x)" class="closeX">X</span>
                                        <div class="droppable">
                                            <label> {{obj.label}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Page/filename</label>
                    <input type="textbox" name="pageTitle" class="form-control" [(ngModel)]="pageTitle">
                </div>
            </div>
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" #isCheckedAll name="isCheckedAll"> Apply to All Sub Product
                </label>
            </div>
            <div class="col-sm-12">
                <button class="btn btn-success" (click)="goBack()()">Go Back</button>
                <button class="btn btn-primary" (click)="saveWork(isCheckedAll.checked)">Save Form</button>

            </div>
        </div>
    </div>

    <div *ngIf="tabs && tabs[1].class=='active'">
        <div class="container-fluid">
            <div class="row" *ngIf="formlyField">
                <div class="card card-outline-primary col-sm-4 codeView">
                    <pre *ngIf="formlyField">
                                <code>
                                    {{formlyField | json}}
                                </code>
                        </pre>
                </div>
                <div class="col-sm-8">
                    <form [formGroup]="form">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{pageTitle}}</h5>
                            </div>
                            <div class="card-block">
                                <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                                </formly-form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="tabs && tabs[2].class=='active'">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Formly JSON</label>
                        <textarea [(ngModel)]="formlyJson" class="form-control paste"></textarea>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary" (click)="convertFormlyJsonToDrop()">Load Formly JSON</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>