@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.bodyContent {
  min-height: 550px;
}

footer {
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 5px 0 !important;
  background-color: #fff !important;
  p {
    text-align: center;
    color: #000 !important;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.getstarteddesc {
  padding: 30px;
  h3 {
    margin-bottom: 30px;
  }
  .divider{
    height: auto;
    border-left: 1px solid #ccc;
  }
}

.btn-add-panel {
  width: 100%;
}

.form-control-label {
  display: none;
}

mat-form-field {
  margin-bottom: 5px;
}

formly-group {
  margin-bottom: 10px;
}

.navbar {
  padding: 10px 0 !important;
  z-index: 999;
  background: #fff;
  width: 100%;
  margin-bottom: 10px;
  height: 110px;
  border-bottom: 1px solid #e6e6e6;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4) !important;
  &.fade {
    transition: opacity 400ms ease-in-out !important;
    will-change: opacity;
    opacity: 0;
    &.in {
      opacity: 1;
    }
  }
  .close {
    background: rgba(0, 123, 255, 0.1) !important;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%;
    font-size: 1.1rem;
    text-shadow: none;
    color: #007bff;
    outline: none;
  }
  .modal-dialog {
    transform: none !important;
  }
}

/* Buttons */

.btn {
  color:#ce1b0e;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: normal;
  text-align: center;
  background-color: #ffffff;
  border-color:#ce1b0e;
  border-radius: 0px;
}

.btn:hover{
  color:#fff;
  background-color: #ce1b0e;
  border-color:#ce1b0e;
  border-radius: 0px;
}

/* Footer */

footer {
  position: relative;
  padding: 20px 0;
  p {
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
  }
}




/* Global Overrides and Helper Classes */

.number {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

strong {
  font-weight: 900;
}

.hidden {
  display: none;
}

.form-title {
  margin-bottom: 20px;
}



/* Session Out Page */

.session-out {
  min-height: 400px;
  h3 {
    font-weight: 700;
    margin: 20px 0;
  }
  p {
    color: #888;
    font-size: 0.9em;
  }
  img {
    margin: 20px auto;
    max-width: 100px;
  }
}

/* Page Load Progress */

.ng-progress {
  .spinner-icon {
    border-top-color: #007bff !important;
    border-left-color: #FFEB3B !important;
  }
  .bar[_ngcontent-c2] {
    background: #FFEB3B !important;
  }
  .meteor[_ngcontent-c2] {
    box-shadow: none !important;
  }
}

/* Form Fields */

.form-group.has-error .text-danger {
  margin-top: -15px;
}

.mat-form-field, form {
  width: 100%;
}
.input-addon{
  margin-bottom: 5px;
  font-size: 18px;
  mat-icon {
    position: absolute;
    font-size: 20px;
    color: #a09e9e;
  }
  .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element,mat-label{
    padding-left: 30px;
  }
  .mat-input-element:focus,.mat-error,input.mat-input-element{
    padding-left: 30px;
  }
}
.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.card{
  border: none;
  .control-center{
     margin: 0 auto;
  }
  .back{
    color: #000;
    margin-bottom: 5px;
    width: 100%;
  }
  i{
    vertical-align: middle;
  }
  .back:hover{
    text-decoration: none;
  }
}
.cfooter{
  padding: 10px;
}
.mat-input-element{
  border: 1px solid currentColor;
  border-left-style: none;
  border-right-style: none;
  border-radius: 1e-6px;

  &::before {
    content: none !important;
  }
}
.toggle-label{
  color: #505050;
  font-size: 16px;
  padding-right: 20px;
}
.product-select{
  .labelheader{
    font-size: 15px;
    color: #505050;
    margin-top: 30px;
  }
  .validation{
    padding-left: 30px;
    color:red;
  }
  input{
    opacity: 0;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  img{
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 60px;
    background-color: #ffffff;
    border: solid 1px #ffffff;
  }
}
