@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.inline-section-field {
	margin-top: -79px;
	float: right;
	position: absolute;
	right: 0;
}
.btn-add-panel {
	width: 100%;
}
.btn-next {
	height: 55px;
	font-size: 22px;
	width: 200px;
	text-align: center;
}
.form-control-label {
	display: none;
}
.mat-form-field {
	width: 100%;
}
.text-danger {
	margin-top: -12px;
	font-size: 12px;
}
form {
	width: 100%;
}
.body-content {
	margin-top: 87px;
}

.modal.fade {
	transition: opacity 400ms ease-in-out;
	will-change: opacity;
	opacity: 0;
}

.modal.fade.in {
	opacity: 1;
}
.modal.fade .modal-dialog {
	transform: none;
}
.modal {
	background-color: rgba(0, 0, 0, .4);
}
.fa-cross {
	font-size: 55px;
	margin-top: -10px;
	color: #2d3f4f;
}
.card-text {
	margin-top: 10px;
	font-size: 14px;
	color: #767272;
}

.btn {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	border-radius: 0px;
}
.btn-primary {
	color: #fff;
	background-color: #4285f4;
	border-color: #4285f4;
}
.btn-warning {
	color: #fff;
	background-color: #f80;
	border-color: #f80;
	padding-top: 12px;
}
.btn-info {
	color: #fff;
	background-color: #33b5e5;
	border-color: #33b5e5;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(38, 85, 167, 0.87);
	z-index: 9;
	color: #fff;
	padding-top: 21px;
	text-align: center;
}
.overlay .fa-check {
	font-size: 60px;
}
.overlay .fa-trash-o {
	font-size: 20px;
	margin-top: 40px;
}
.btn-remove-addon {
	cursor: pointer;
}
.hidden {
	display: none;
}
.cross-sell-block {
	height: 150px;
}
.emphead {
	margin-left: -20px;
	width: 103.555%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.confirmation-card {
	margin-bottom: 20px;
}
.confirmation-card .card-text {
	height: 120px;
	overflow-y: scroll;
}
app-disclousrecheckbox .card {
	margin-bottom: 10px;
}
app-disclousrecheckbox a {
	text-decoration: underline;
}
app-disclousrecheckbox a:hover {
	cursor: pointer;
}

.drop-container {
	background: #fff;
	border-radius: 6px;
	height: 150px;
	width: 100%;
	box-shadow: 1px 2px 20px hsla(0, 0%, 4%, .1);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px dashed #c0c4c7;
	margin-bottom: 20px;
	img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	label {
		z-index: 10000;
		width: 100%;
		height: 100%;
		text-align: center;
		padding-top: 18%;
	}
}
.ssnText {
	
	.firstText {
		width:10%;
	}
	.secondText {
		width:10%;
	}
	.thirdText {
		width: 70%;
	}
}
