<ng-progress [minimum]="0.15" [maximum]="1" [speed]="200" [ease]="'linear'" [spinner]="true" [spinnerPosition]="'right'"
  [color]="'red'" [trickleSpeed]="250" [thick]="true">
</ng-progress>

<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary" style='display:none;'>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">DSP</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/get-started']">
          <span>get-started </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cross-sell']">
          <span>Cross Sell </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/personal-info']">
          <span>Personal-Info </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/identity']">
          <span>Identity </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/employment']">
          <span>Employment </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account-details']">
          <span>Account Details </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/review-submit']">
          <span>Review Submit </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/confirmation']">
          <span>Confirmation </span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="body-content">
  <router-outlet></router-outlet>
  <div class="modal-container"></div>
</div>
