
<div class="container" *ngIf="model">
  <div class="wrap">
 
      <div class="card">
        <div class="card-header">
            <h5>{{pageTitle}}</h5>  
        </div>
        <div class="card-block">
            <div class="row">
 
          <div class="col-sm-12" *ngIf="model">
            <h2 class="confirm-title">CONGRATULATIONS !!</h2>
            <div class="row">
              <div class="col-md-7 col-sm-6 text-left"><strong>Product</strong></div>
              <div class="col-md-5 col-sm-3 text-left"><strong>Sub product</strong></div>
            </div>
            <div class="row ">
              <div class="col-md-7 col-sm-6 text-left">{{model.Application__c.Product__c}}</div>
              <div class="col-md-5 col-sm-3 text-left" >{{model.Application__c.Sub_Product__c}}</div>
             
            </div>
          </div>
          <!-- <div class="col-sm-5">
              <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                </formly-form>
          </div> -->
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="button" (click)="finish()" class="btn btn-success btn-next  submit-button">Finsih </button>
        </div>
      </div>
    
  </div>
</div>
