
<div class="container" *ngIf="model">
  <div class="row ">
    <div class="col-md-7">
      <div class="productapplied">
          You are applying for : <b>{{model?.Application__c.Sub_Product__c}}</b>  
      </div>
     
    </div>
    
    <div class="col-md-5">
      <form [formGroup]="form" (ngSubmit)="submit('personal-info')">
        <div class="card">
          <div class="card-block">
            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
              <button type="submit" class="btn btn-primary btn-block submit-button">SUBMIT</button>
            </formly-form>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
