<app-progress *ngIf="pageFlow" ></app-progress>
<div class="container" *ngIf="model">
        <div class="row">
          <form [formGroup]="form" (ngSubmit)="submit(navigateUrl)">
            <div class="card">
              <div class="card-header">
                  <h5>{{pageTitle}}</h5>  
              </div>
              <div class="card-block">
                <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                </formly-form>
              </div>
              <div class="card-footer">
                <div *ngIf="nextUrl!=''" >
                  <div class="btn-group mr-4" *ngIf="prevUrl!='' && nextUrl!=''">
                      <a class="btn btn-warning btn-next" href="/#/form/{{prevUrl}}">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i><span>  Previoues </span>
                      </a>
                  </div>
                  <div class="btn-group mr-4"   *ngIf="prevUrl!=''">
                      <button type="button" class="btn btn-info btn-next" (appSaveforLaterClick)="onClick()"   >
                        <i class="fa fa-floppy-o" aria-hidden="true"></i><span> Save For Later</span>
                      </button>
                  </div>
                  <div class="btn-group mr-2 pull-right" >
                      <button   type="submit" class="btn btn-primary btn-next  submit-button">Submit <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                  </div>
              </div>
              <div *ngIf="nextUrl==''" class="text-center">
                  <button   type="submit" class="btn btn-success btn-next  submit-button">Finish <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      