<section class="progress-wrapper steps-7 text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="phase-step-wrapper clear">
					<div class="phase-step phase-1 active" ngClass="{'active': phase1}">About You</div>
					<div class="phase-step phase-2" ngClass="{'active': phase2}">Account</div>
					<div class="phase-step phase-3" ngClass="{'active': phase3}">Confirm</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
				<ul class="progress-step-wrapper">
					<li  class="{{getCurrent('PersonalInfoPage')}}">
						<span >1</span>
						<p >Personal
							<i class="progress-step"></i>
						</p>
					</li>
					<li  class="{{getCurrent('EmploymentPage')}}">
						<span >2</span>
						<p >Employment
							<i class="progress-step"></i>
						</p>
					</li>
					<li  class="{{getCurrent('IdentityPage')}}">
						<span >3</span>
						<p >Identity
							<i class="progress-step"></i>
						</p>

					</li>
					<li class="{{getCurrent('AccountDetailsPage')}}" >

						<span >4</span>
						<p >Details
							<i class="progress-step"></i>
						</p>

					</li>
					<li  class="{{getCurrent('ReviewSubmitPage')}}">

						<span >5</span>
						<p >Review
							<i class="progress-step"></i>
						</p>

					</li>
					<li  class="{{getCurrent('ConfirmationPage')}}">

						<span >6</span>
						<p >Confirmation
							<i class="progress-step"></i>
						</p>

					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
