<!-- <section class="progress-wrapper steps-{{pageFlow.length-2}} text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="phase-step-wrapper clear">
					<div class="phase-step phase-1 active" ngClass="{'active': phase1}">About You</div>
					<div class="phase-step phase-2" ngClass="{'active': phase2}">Account</div>
					<div class="phase-step phase-3" ngClass="{'active': phase3}">Confirm</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
				<ul class="progress-step-wrapper">

					<li *ngFor="let item of pageFlow;let k = index" class="{{getCurrent(item['path'])}}">
						<div *ngIf="k>0">
							<span>{{k}}</span>
							<p>{{toTitleCase(item['path'].split('-')[0])}}
								<i class="progress-step"></i>
							</p>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section> -->

<div class="progress-steps container">
	<ul class="stepper">
		<li class="step complete">
			<div class="circle"></div>
			<p class="label">About</p>
			<div class="divider"></div>
		</li>
		
		<li class="step active">
			<div class="circle"></div>
			<p class="label">Employment</p>
			<div class="divider"></div>
		</li>
		<li class="step">
			<div class="circle">3</div>
			<p class="label">Employment</p>
			<div class="divider"></div>
		</li>
		<li class="step">
			<div class="circle">4</div>
			<p class="label">Review</p>
		</li>
	</ul>
</div>